.btn, .btn-group {
  border: none;
  border-radius: 14px;
  padding: 12px;
  color: #010101;
  background: linear-gradient(12deg, #dfdfdf -67%, #ffffff 76%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  transition: all .2s linear;
  font-weight: 600;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
.btn:hover {
  outline: #5e16b6;
  opacity: 0.6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #fefefe;
  background: linear-gradient(78deg, #5e16b6 -90%, #8636e8 94%);
  transition: all .2s linear;
  transform: translateY(-2px);
}
.btn.btn-default {
  background-color: rgba(251, 249, 253, 1);
}
@media (max-width: 991.98px) {
  .btn, .btn-group {
    margin-bottom: 15px;
  }
}
.btn-nav-link {
  background: none;
  box-shadow: none;
  border-radius: 4px;
  padding: 12px 22px;
}
.btn-nav-link:hover, .btn-nav-link:active, .btn-nav-link:focus {
  background: none !important;
  transform: translateY(-3px);
  color: #010101;
}
