.btn, .btn-group {
  font-size: 1rem;
  border: none;
  outline: none !important;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 1px 1px 1px #333333;
}
.btn-warning {
  background-color: rgba(255, 102, 0, 0.9);
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
.btn:hover {
  outline: none !important;
  border: none !important;
  background-color: rgba(255, 102, 0, 0.7);
  box-shadow: 3px 3px 3px #e3e3e3 !important;
}
