$border-default-color: rgba(255, 198, 102, 0.5);
$border-hovered-color: rgba(255, 198, 102, 1);
$transition-time: 0.2s;

.card-columns .card {
  margin-bottom: 1.5rem;
}

.card {
  background-color: transparent;
  border: 1px solid $border-default-color;
  border-radius: 16px;
  transition: $transition-time linear;

  .card-header, .card-footer {
    background-color: transparent;
    font-size: 18px;
    transition: $transition-time;
    border-radius: 0px;
  }
  .card-header {
    border-bottom: none;
    font-weight: 400;
  }
  .card-footer {
    border-top: none;
  }
  .card-body {
    padding: 0 1.25rem;
    font-weight: 300;
  }
}
.card:hover {
  border: 1px solid $border-hovered-color;
}
