.bg-white-images {
  .slide {
    background-color: white !important;
    background: white !important;
  }
}
.carousel {
  .carousel-status {
    color: #0f0f0f;
  }
  .slide {
    background-color: #ffffff !important;
    background: transparent;

    .legend:hover {
      opacity: 0.2;
    }

    img {
      max-width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }
  .control-dots {
    .dot {
      box-shadow: none;
    }
  }

  .thumbs-wrapper {
    text-align: center;
  }
  .thumb {
    border: 1px solid transparent !important;
  }
  .thumb.selected, .thumb:hover {
    border: 1px solid rgba(75, 106, 136, 0.5) !important;
  }
}
