body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.12rem;
  line-height: 2.16;
  font-weight: 300;
  color: #1f1f1f;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
a {
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-weight: 300 !important;
  color: #fe9f00;
}
a:hover {
  color: rgba(255, 198, 102, 0.5);
  text-decoration: underline;
  transition: all 0.2s ease-in;
}
.bg-primary-grad {
  background-image: linear-gradient(to right, #77A4EE, #4a86e8);

  a.text-warning:hover {
    color: #fe9f00 !important;
  }
}
.text-primary {
  color: #4a86e8 !important;
}
.text-warning {
  color: #fe9f00 !important;
}
.lead-sm {
  font-size: 0.9rem;
}
.lead-lg {
  font-size: 4.2rem;
  font-weight: 900;
  text-decoration: underline;
}
.text-decoration-none {
  text-decoration: none;
}
.main-page-container {
  margin-top: 120px;
}

.centered-cj-logo {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin-top: 120px;
}
.img-border {
  border: 8px solid #fe9f00;
}
