body {
  font-family: monospace;
  letter-spacing: 0.098rem;
  line-height: 1.86;
}
body.day-time {
  background-color: #f4f4f4;
  color: #585858;
}
body.night-time {
  background-color: #0f0f0f;
  color: #f4f4f4;
}
::-webkit-scrollbar {
  display: none;
}
.main-container-portfolio {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 25px;
  bottom: 25px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 12px;
}
.img-thumbnail {
  position: relative;
  border: none;
  border-radius: 100%;
  height: 200px;
  padding: 0px;
  background-color: transparent;
  animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
.social-media-icon {
  display: inline-block;
  margin: 8px;
}
.social-media-icon svg {
  font-size: 1.46rem;
  transition: 120ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 120ms;
  -webkit-transition-timing-function: ease-in-out;
}
.social-media-icon svg:hover {
  fill: #4286f4;
}
.lead-lg, .lead, .lead-sm {
  letter-spacing: 0.28rem;
  color: #1f1a1a;
}
