.grand-parent-container.day-time {
  background-color: #f4f4f4;
  color: #585858;
  transition: all 0.4s linear;
}
.grand-parent-container.night-time {
  background-color: #0f0f0f;
  color: #f4f4f4;
  transition: all 0.4s linear;
}

.day-night-mode-toggle {
  position: fixed;
  z-index: 8;
  top: 35px;
  right: 35px;
  transition: all 0.4s linear;
}
.day-time {

}

.night-time {
  .lead-sm, .lead, .lead-lg {
    color: #f4f4f4 !important;
    transition: all 0.4s linear;
  }
}
