.day-night-mode-toggle {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
}
.day-time {
  .main-container-portfolio {
    background-color: rgba(0, 0, 0, 0.09);
  }
}

.night-time {
  a {
    color: #BFEBFF;
  }

  a:hover {
    color: #6f91f2;
  }

  .main-container-portfolio {
    background-color: rgba(255, 255, 255, 0.09);
  }

  .img-thumbnail {
    background-color: #f4f4f4;
    padding: 0px 16px;
  }

  .title {
    color: #f4f4f4;
  }
}
