.day-night-mode-toggle {
  position: fixed;
  z-index: 8;
  top: 35px;
  right: 35px;
}
.day-time {

}

.night-time {
  .lead-sm, .lead, .lead-lg {
    color: #f4f4f4 !important;
  }

  .img-thumbnail {
    background-color: #f4f4f4;
    padding: 0px 16px;
  }
}
