.navbar {
  padding: 1.2rem 0px;
  padding-left: 126px;
  background: #ffffff;
  width: 100%;

  .nav-item {
    margin-right: 32px;
  }
  .nav-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.92rem;
    letter-spacing: 0.02rem;
    padding: 0.4rem 1.2rem !important;
  }

  .nav-link:hover {
    opacity: 0.76;
    transform: translateY(-3px);
  }
  .navbar-toggler {
    background-color: #c20a75;
    color: #ffffff;
    margin-left: 15px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    text-align: center;
    padding-left: 0;

    .nav-link {
      margin-left: 0px !important;
    }
  }
}
