.website-menu-toggle {
  position: fixed;
  right: 60px;
  top: 60px;
  z-index: 6;
}
.container-menu {
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  line-height: 180px;
  transition-property: all;
  transition-duration: 0.6s;
}
.container-menu.active {
  top: 0px;
  transition-property: all;
  transition-duration: 0.6s;
}
.container-menu {
  a {
    color: #fe9f00;
    font-size: 1.4rem;
    margin: 0px 25px;
    transition: all 0.2s linear;
  }

  a:hover {
    color: rgba(255, 198, 102, 0.5);
    transition: all 0.2s linear;
  }

  svg {
    margin-top: 8px;
    height: 32px;
  }
}
