.navbar {
  padding: 36px 0px;
  background-color: #ffffff;

  .nav-item {
    margin: 0 26px;
  }
  .nav-link {
    font-weight: bold !important;
    padding: 0px 12px;
    font-size: 1.2rem;
    color: #c20a75;
  }

  .nav-link:hover {
    color: #c20a75;
    opacity: 0.6;
    transform: translateY(-3px);
  }
  .navbar-toggler {
    background-color: #c20a75;
    color: #ffffff;
    margin-left: 15px;
  }
}

.fixed-page-navigator {
  position: fixed;
  top: 192px;
  right: 38px;
  text-align: right;
}

@media (max-width: 991.98px) {
  .navbar {
    text-align: center;

    .nav-link {
      margin-left: 0px !important;
    }
  }

  .fixed-page-navigator {
    display: none;
  }
}
