.social-media-icons-container {
  a {
    color: #f1f1f1;
  }
}

.social-media-icon {
  margin-right: 42px;
}
.social-media-icon svg {
  font-size: 2.04rem;
  transition: 120ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 120ms;
  -webkit-transition-timing-function: ease-in-out;
}
.social-media-icon svg:hover {
  color: #FF6600;
  transition: 220ms;
}

.about-page {
  .social-media-icon svg {
    color: #FF6600;
  }
}

@media (max-width: 991.98px) {
  .social-media-icons-container {
    position: relative;
    margin-top: 57px;
  }

  .social-media-icon {
    margin: 0px 10px;
  }
}
