.work-page-container {
  margin-top: 38px;
  padding: 0px 20px 0px 50px;

  .heading-separator {
    height: 6px;
    width: 100%;
    border-radius: 2px;
    background-color: #ffb347;
  }

  .with-image {
    padding: 0px;
    margin-bottom: 30px;

    .card-img-top {
      border-radius: 14px;
    }
  }

  .work-tab {
    margin-top: 56px;
    margin-bottom: 112px;
  }

  .work-tab:last-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 991.98px) {
  .work-page-container {
    padding: 10px;

    .work-tab {
      margin-bottom: 0px;

      .col-sm-12.col-md-7 {
        padding-top: 15px;
      }
    }
  }
}
