$card-default-height: 380px;
$card-default-border-radius: 2px;
$transition-time: 0.2s;

.landing-work-container {
  margin: 18% 0 8% 0;

  .landing-work-card {
    height: $card-default-height;
    margin-bottom: 8%;
    border-radius: $card-default-border-radius;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.4s;
    transition: all $transition-time linear;

    &:hover {
      cursor: pointer;
      box-shadow: 0 16px 24px rgba(0, 0, 0, 0.14);
      transition: box-shadow 0.4s;
      transition: all $transition-time linear;
    }

    .image-source {
      border-radius: $card-default-border-radius;
      height: $card-default-height;
      width: 100%;
      object-fit: cover;
    }

    .project-source {
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      height: $card-default-height;
      overflow: hidden;
      background-color: #ffffff;
      border-radius: $card-default-border-radius;
      text-align: center;
      padding-top: 12px;
    }
    .project-source.d-none {
      visibility: hidden;
      display: block !important;
      opacity: 0;
      transition: all 360ms ease-out;
    }
    .project-source.d-block {
      opacity: 1;
      transition: all 360ms ease-in;
    }
  }
}

@media (min-width: 576px) {
  .landing-work-card {
    height: $card-default-height;
  } 
}