$card-default-height: 420px;
$card-default-border-radius: 2px;
$transition-time: 0.2s;

.landing-work-container {
  margin: 22% 0 8% 0;

  .landing-work-card {
    height: $card-default-height;
    margin-bottom: 8%;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.4s;
    transition: all $transition-time linear;

    &:hover {
      box-shadow: 0 16px 24px rgba(0, 0, 0, 0.24);
      transition: box-shadow 0.4s;
      transition: all $transition-time linear;
    }

    .no-padding {
      padding: 0px;
    }

    .image-source {
      border-radius: $card-default-border-radius;
      width: 100%;
      height: $card-default-height;
      object-fit: cover;
    }
  }
}

@media (max-width: 991.98px) {
  .landing-work-card {
    height: auto !important;
    padding-bottom: 24px;

    .image-source {
      height: 240px !important;
    }
  } 
}